---
import '../styles/flag.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sean Batchelor</title>
	</head>
	<body>
		<canvas id="canvas"></canvas>
		
		<script src="/src/scripts/canvas-animation.js"></script>
	</body>
</html>
