---
import '../styles/typography.css';
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Say Hi | Sean Batchelor</title>
	</head>
	<body>
		<Navigation currentPath={Astro.url.pathname} />
		
		<main class="container">
			<h1 class="text-headline">Hello</h1>
			<div class="say-hi-columns">
				<div>
					<p>I help cross functional teams act upon insights to solve problems. I try to design with an open mind and a critical eye.</p>
					<p>I am currently designing <a href="https://www.bidlevel.ai/" target="_blank">BidLevel</a>, an A.I quote comparison tool at <a href="https://www.procurepro.co/" target="_blank">ProcurePro</a>, a platform for streamlining procurement for the construction industry.</p>				</div>
				<div>
					<p>Previous roles have been with purpose-led companies, including <a href="https://www.cecil.earth/" target="_blank">Cecil</a> – A platform for accessing high quality nature data, <a href="https://www.hatch.team/" target="_blank">Hatch</a> – an early career talent marketplace and <a href="https://www.freshbooks.com/" target="_blank">FreshBooks</a> – an accounting platform for small service-based businesses.</p>
					<p>I have also led the design of new products and services for some of Australia and Canada’s biggest brands at <a href="https://www.bcg.com/x/" target="_blank">BCG Digital Ventures</a>, Sydney and <a href="https://www.accenture.com/au-en/about/accenture-song-index" target="_blank">Fjord(Accenture)</a>, Toronto.</p>
				</div>
				<div>
					<p>I have begun contributing as a <a href="https://github.com/seanbatchelor" target="_blank">software developer</a>.</p>
					<p>I publish some more esoteric takes on design phenomena in an occasional <a href="https://designmystic.substack.com/">newsletter</a>.</p>
					<p>Connect on <a href="https://www.linkedin.com/in/seanbatchelor8/" target="_blank">LinkedIn</a> or send me an <a href="mailto:sean.carcass@gmail.com">email</a>.</p>
				</div>
			</div>
		</main>
	</body>
</html>
