---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import ProjectSection from '../../components/ProjectSection.astro';
import ContentColumn from '../../components/ContentColumn.astro';

---

<ProjectLayout 
	title="Cecil.earth"
	headline="Cecil's mission is to unlock data driven environmental markets"
	intro="<a href='https://cecil.earth'>Cecil</a> is a seed stage startup, founded after the Black Summer bushfires by a team motivated to be part of the climate solution. I joined as Head of Design to lead product experience and brand as the business sought product-market fit."
>
	<ProjectSection image={'/images/projects/cecil/Problem.png'} imageAlt="Cecil problem" subheading="Generic tools don’t support the method-specific implementation and operations of nature based projects">
		<ContentColumn position={1}>
			Nature asset and NBS project managers must ensure project methodologies are being followed, track projected and approved inventory (e.g. carbon credits), collect and analyse environmental data, manage project budgets and costs, and ensure tasks for a range of specialists are being completed methodically across multiple, geographically distributed projects.
		</ContentColumn>
		<ContentColumn position={2}>
			To solve these problems today they use a range of generic tools that become disorganised and lead to delays, reporting challenges, and increase project risk.
		</ContentColumn>
	</ProjectSection>

	<ProjectSection 
		images={[
			{ src: '/images/projects/cecil/Solution-Pipeline-1-0x0.png', alt: "Cecil solution pipeline" },
			{ src: '/images/projects/cecil/Solution-Pipeline-0x0.png', alt: "Cecil solution create project" },
			{ src: '/images/projects/cecil/Solution-Project-0x0.png', alt: "Cecil solution project overview" },
			{ src: '/images/projects/cecil/Solution-Tasks-0x0.png', alt: "Cecil solution task management" },
			{ src: '/images/projects/cecil/Solution-Inventory-overview-1-0x0.png', alt: "Cecil solution inventory management" }
		]}
		subheading="The Cecil Workspace keeps natural assets and nature based projects under control"
	>
		<ContentColumn position={1}>
			Cecil brings project data and operations into a single workspace, with features for task management, site data, credit inventory, pipeline tracking, and project assessment.
		</ContentColumn>
	</ProjectSection>

	<ProjectSection image={'/images/projects/cecil/Design-process-1.png'} imageAlt="Design process" subheading="I implemented a stable, yet flexible design process to manage diverse product requirements">
		<ContentColumn position={1}>
			As a design team of one, working directly with founders and customers, and a distributed engineering team, I developed a design process to prioritise and accommodate larger projects, incremental feature improvements, and necessary design system updates.
		</ContentColumn>
		<ContentColumn position={2}>
			Every 6 weeks, we took stock and reprioritised the projects for the following 6 weeks. This allowed us to be responsive to customer feedback and maintain momentum in research or execution for new features.
		</ContentColumn>
	</ProjectSection>

	<ProjectSection image={'/images/projects/cecil/Research-for-pivot.png'} imageAlt="Research for pivot" subheading="A substantial strategic shift necessitated deep qualitative research to build empathy for a new specialist end-user">
		<ContentColumn position={1}>
			Organically, a new insight emerged that the real source of teams’ problems, was the data workflows that underpin every stage of the project.

			This led to a new product vision: to be a data platform for nature, focused on simplifying the data analysis workflows of nature teams.
		</ContentColumn>
		<ContentColumn position={2}>
			A challenge across the team, in designing the new product direction was building intuition for customer needs at the intersection of environmental science and geospatial data analysis expertise.

			I led numerous research initiatives to understand the jobs to be done, workflows, and key frictions around data acquisition, pre-processing, and analysis.
		</ContentColumn>
	</ProjectSection>

	<ProjectSection 
		images={[
			{ src: '/images/projects/cecil/Brand-positioning-Logo-1-0x0.png', alt: "Cecil logo before v after" },
			{ src: '/images/projects/cecil/Brand-positioning-motif-phtography-0x0.png', alt: "Brand motif and imagery" },
			{ src: '/images/projects/cecil/Brand-positioning-Brand-1-0x0.png', alt: "Brand colour and typography" },
			{ src: '/images/projects/cecil/Brand-positioning-Landing-page-2-0x0.png', alt: "Cecil solution task management" }
		]}
		subheading="Cecil’s product positioning and brand identity needed to be reviewed, in light of the new product vision"
	>
		<ContentColumn position={1}>
			Taking a lean approach, with support from an external contractor, I led the team through a rebranding exercise. A new logo, colour and typography system as well as a versatile graphic motif were developed, forming the foundation of a strong, data-oriented visual language.
		</ContentColumn>
		<ContentColumn position={2}>
			In parallel, I led a product positioning initiative to define the new value proposition, in relation to the problems with existing alternatives, the differentiated value of the solution and the market category it fits within.
		</ContentColumn>
	</ProjectSection>

</ProjectLayout>
