---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import ProjectSection from '../../components/ProjectSection.astro';
import ContentColumn from '../../components/ContentColumn.astro';
---

<ProjectLayout 
  title="Innovation"
  headline="It takes a diverse team of people, bringing together their individual expertise and creativity, to bring new ventures to life"
  intro="At <a href='https://www.bcg.com/x/' target='_blank'>BCG Digital Ventures in Sydney, and <a href='https://www.accenture.com/au-en/about/accenture-song-index' target='_blank'>Fjord</a> Toronto, I have helped designers, business minds, and technology experts to develop venture concepts that have gone on to launch successfully in market by some of Australia and Canada’s largest brands. Due to confidentiality agreements I am unable to present client work, so I have aimed here to summarise my approach and show fragments of outputs."
>
  <ProjectSection image='/images/projects/innovation/research.jpg' imageAlt="Customer research" subheading="Human conversations are the richest source of insight. They can lead to greater objective clarity and unique moments of inspiration">
    <ContentColumn position={1}>
      I have guided teams through research and testing for numerous product innovation projects. Research methods help discover where peoples’ goals are inhibited by a factor that can be modified. Applied appropriately, research can be used to identify or build confidence in the riskiest assumptions of a concept or strategy.
    </ContentColumn>
  </ProjectSection>

  <ProjectSection image='/images/projects/innovation/initial-product-flow.jpg' imageAlt="UX product mapping" subheading="It’s energising to take an emerging idea, and find its first form as a rough sketch">
    <ContentColumn position={1}>
      Through collaborative synthesis, observations and insights are transformed into solutions. Rough sketches are refined into a coherent flow of interactions with the constructive input of stakeholders from different domains of expertise.
    </ContentColumn>
  </ProjectSection>

  <ProjectSection image='/images/projects/innovation/interface-design-1.jpg' imageAlt="Interface design" subheading="Prototyping is the best way to really sense the potential or risks of a concept as it is emerging.">
    <ContentColumn position={1}>
      Innovation projects generally culminate in a prototype or proof of concept demonstrating the concept vision. Successful designs come from an appreciation of established interaction patterns, technological understanding, and real customer insight.
    </ContentColumn>
  </ProjectSection>

  <ProjectSection image='/images/projects/innovation/Brand.jpg' imageAlt="Branding" subheading="A simple brand can be powerful vehicle to bring to life the vision of the new idea">
    <ContentColumn position={1}>
      Light-weight research and design exercises help to inform aesthetic choices. An interim brand can come together quickly, usually with a name, logo, colour scheme and type treatments as a starting point.
    </ContentColumn>
  </ProjectSection>

  <ProjectSection image='/images/projects/innovation/Pitches.jpg' imageAlt="Venture pitches" subheading="Effective visual storytelling is required to communicate the holistic proposal of a new venture">
    <ContentColumn position={1}>
      When pitching a new concept for investment, the problems solved and reasons to believe the risk is worth the reward, must be communicated as a coherent story. I work with presenters to design the storyline and create impactful visuals to punctuate the verbal presentation.
    </ContentColumn>
  </ProjectSection>

</ProjectLayout>
