---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import ProjectSection from '../../components/ProjectSection.astro';

const introHtml = `<div class="project-intro-columns"><div class="intro-col"><p>An exploration into building my own software. Pedro is a mac app for me. And you. If you want it.</p></div><div class="intro-col"><p>Software doesn't get worn out, or worn in. For your fingertips, Amazon feels the same as AirBnB. My daily checklist is different.</p></div></div>`;
---

<ProjectLayout
	title="Pedro"
	headline="It is what it isn't. Not a todo app. Not a notebook."
	intro={introHtml}
	keywords={["Mac app", "Personal software", "Interface experiment", "Gesture-driven"]}
>
	<ProjectSection
		images={[
			{ type: 'video', src: '/video/Pedro.mp4', alt: 'Pedro', poster: '/images/projects/pedro/Pedro.png' },
		]}
		subheading=""
	>
	</ProjectSection>
</ProjectLayout>
